@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body{
    height: 100%;
}
body {
    background-color: var(--brown);
    font-family: 'Poppins';
    font-weight: 400;
}
#view-panel {
    width: 100%;
    transition: all 0.3s ease;
}
:root {
    --brown: #361500;
    --dark-brown: #250f03;
    --light-brown: #CC9544;
    --white: #ffffff;
    --light-white: #d1d5db;
}
.salsa {
    font-family: "Poppins";
    font-style: normal;
}
.rosarivo {
    font-family: "Poppins";
    font-style: normal;
}
.bg-dark-brown {
    background-color: var(--dark-brown);
}
.bg-brown {
    background-color: var(--brown);
}
.bg-light-brown {
    background-color: var(--light-brown);
}
.bg-light-brown:hover {
    background-color: rgb(214, 167, 97)
}

.text-gray {
    color: var(--light-white);
}
.message {
    position: fixed;
    top: 70px;
    right: 15px;
    max-width: 24rem;
    margin: 0 auto;
    background-color: var(--light-brown);
    gap: 1rem;
    z-index: 10000;
}
.message button, #profileBtn{
    cursor: pointer;
}
.message button:hover{
    color:var(--black);
}
.header .flex .nav-profile.active{
    display: inline-block;
}
.nav-profile {
    z-index: 201;
}
.navigation img {
    object-fit: cover;
    background-position: center;
}
li > .active {
    background-color: var(--light-brown);
    opacity: 0.9;
}
.datetime, .navigation {
    transition: all 0.3s ease;
}
.border-color {
    border-color: rgb(209 213 219);
    border-top-width: 1px;
}
.border-lightcolor {
    border-color: rgb(121, 122, 124);
    border-top-width: 1px;
}
.autofit-grid {
   grid-template-columns: repeat(auto-fill, minmax(10rem,1fr));
}
.autofit-grid1 {
    grid-template-columns: repeat(auto-fit, minmax(22rem,1fr));
}
.autofit-grid2 {
    grid-template-columns: repeat(auto-fit, minmax(14rem,1fr));
}
.cols-grid-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
 }
.cols-grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
#orderCart {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 50; /* Ensure it appears above other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    right: 2rem; /* Align with the cart button */
    bottom: 6rem; /* Position above the cart button */
    max-height: 60vh;
    overflow-y: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(10px);
    opacity: 0;
}

#orderCart.visible {
    display: block;
    transform: translateY(0);
    opacity: 1;
}
#sidebar.sidebar-closed {
    width: 0;
} 
#sidebarBtn.sidebarBtn-closed {
    transform: translateX(0px) translateY(-50%) !important; 
}
#sidebar.sidebar-open {
    overflow-x: visible;
    transition: overflow-x 0.2s ease-in-out;
    width: 260px !important;
} 

@media (min-width: 640px){
    .cols-grid-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width:600px) {
    .cols-grid-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
     }
}
@media (max-width: 565px){
    .upper {
        display: block;
    }
    .search {
        width: 100%;
        margin-left: 0;
        margin-bottom: 4px;
    }
    .button-input {
        flex-direction: column-reverse;
    }

}
@media (max-width: 800px) {
    #sidebar {
        position: absolute;
        bottom: 0;
        top: 0;
        width: 0px;
        z-index: 99;
        transition: all 0.3s ease 0.2s;
    }
    #sidebarBtn {
        display: none;
    }
    #svpBtn {
        display: block;
    }
}
@media (max-width:850px){
    .autofit-grid2 {
        grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
        gap: 1rem;
    }
    .autofit-grid2 > div {
        height: 144px;
    }
    .autofit-grid2 > div p, .title{
        font-size: clamp(1.5rem, 0.3043rem + 3.4783vw, 3rem);
    }
}
.edit-btn:hover, .delete-btn:hover, .view-btn:hover {
  filter: brightness(90%);
}
img {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}